@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic|Courgette|Anonymous+Pro);

#navigation-help_0 {
  opacity: 1;
  -webkit-transition: opacity 2s;
}

g:hover #navigation-help_0 {
  opacity: 0;
}

